@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	overflow: hidden;
}
body{
	background-image: url("./images/bg.png");
	background-size:inherit;
	background-repeat: no-repeat;
	height: 100vh;
}
.glass{
	background-color: #12214c80;
	backdrop-filter: blur(25px);
}
.white-text{
	color: #e1e1e1;
}
.text-bad{
	position:static;
	left: 1165px;
}
.white-text:hover{
	color: #00d0ff;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
